@using PierresVendors.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h2>@Model["vendor"].Name</h2>
  <p>@Model["vendor"].Description</p>
</div>

<div class="content">
  <h4>Orders for @Model["vendor"].Name:</h4>
  
  @if (Model["orders"].Count == 0)
  {
    <p>There are no outstanding orders for this vendor.</p>
  }
  
  <ul>
    @foreach (Order order in @Model["orders"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
    }
  </ul>
  
  <a href='/vendors/@Model["vendor"].Id/orders/new'>Add an order</a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/vendors">Vendor List</a></li>
    <li><a href="/vendors/new">Add a new vendor.</a></li>
    <li><a href="/vendors/search_by_vendor">Search by vendor</a></li>
  </ul>
</div>